@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Our Web Application!</h1>
    <p>You have visited this page @Model.VisitCount times.</p>
    <p>Your IP Address is: @Model.IpAddress</p>
    <p>Your Time Zone is: @Model.TimeZone</p>
</div> <script>
    // Get the client's time zone 
var timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; 
// Create a form to send the time zone to the server 
var form = document.createElement('form'); form.method = 'GET'; form.action = '/'; var input = document.createElement('input'); input.type = 'hidden'; input.name = 'timeZone'; input.value = 
    timeZone; form.appendChild(input); document.body.appendChild(form); form.submit();
</script>
